

.sketchbook .boards {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sketchbook .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.boards .list{
    padding: 20px;
    display: flex;
    width: 90%;
    margin: auto;
    gap: 40px;
    overflow: scroll;
}

.sketchbook .board {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.sketchbook .boards .add {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(202, 202, 202);
}

.sketchbook .add .btn {
    margin: auto;
    background-color: white;
    border:none;
    font-size: 70px;
    color: rgb(82, 82, 82);
}

.sketchbook .add .text.btn {
    font-size: 30px;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(172, 172, 172);
    text-transform: uppercase;
    font-weight: 200;
}

.sketchbook .add .btn:hover {
    background-color: gray;
    color: white;
    font-weight: bold;
}

.sketchbook .board .img {
    height: 100%;
    border: 1px solid rgb(215, 215, 215);
}

.sketchbook .board .title {
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    background-color: rgba(255, 255, 255, 0.685);
    color: rgb(92, 91, 91);
    width: 100%;
    padding: 5px;
}

.sketchbook .current {
    width: 90%;
    margin: auto;
    max-width: 800px;
}

.sketchbook .current .img {
    width: 100%;
    margin: auto;
}

.sketchbook .current .title {
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(96, 96, 96);
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

/* Dialog */

.sketchbook .dialog {
    height: fit-content;
    padding: 60px 40px;
  }
